

$color-white: #DFE3EC;
$color-pink-light: #FBE0D8;
$color-grey: #7C7678;
$color-white: #BBB7D6;
$color-orange-light: #E5A480;
$color-blue: #3682FF;
$color-orange: #FFB22B;
$color-pink: #FF8FA9;


$size-thumb: 44px;
$size-radius: 8px;
