

$color-white: #DFE3EC;
$color-pink-light: #FBE0D8;
$color-grey: #7C7678;
$color-blue: #3682FF;
$color-orange: #FFB22B;
$color-pink: #FF8FA9;
$color-green: #51E671;
$color-purple-light: #BBB7D6;
$color-orange-light: #E5A480;
$color-grey-light: rgba($color-grey, 0.2);


$size-thumb: 44px;
$size-menu: 60px;
$size-radius: 8px;
