<div class="sidebar">
  <div class="sidebar-header">
    <i class="sidebar-logo" [inlineSVG]="'assets/svg/heartbeat.svg'"></i>
    <div class="sidebar-title">
      <h1>Doctor Dashboard</h1>
      <h3>MG Medical</h3>
    </div>
  </div>
  <hr>
  <nav class="sidebar-links">
    <div class="link">
      <i [inlineSVG]="'assets/svg/home.svg'"></i>
      <span>Dashboard</span>
    </div>
    <div class="link">
      <i [inlineSVG]="'assets/svg/documents.svg'"></i>
      <span>Documents</span>
      <span class="link__count">35</span>
    </div>
    <div class="link">
      <i [inlineSVG]="'assets/svg/safe.svg'"></i>
      <span>History</span>
    </div>
    <div class="link active">
      <i [inlineSVG]="'assets/svg/doctor.svg'"></i>
      <span>Doctors</span>
      <span class="link__count">40</span>
    </div>
    <div class="link">
      <i [inlineSVG]="'assets/svg/stack.svg'"></i>
      <span>Services</span>
    </div>
    <div class="link">
      <i [inlineSVG]="'assets/svg/projects.svg'"></i>
      <span>Projects</span>
      <span class="link__count">35</span>
    </div>
    <div class="link">
      <i [inlineSVG]="'assets/svg/support.svg'"></i>
      <span>Support</span>
    </div>
  </nav>
  <span class="info-hr">information</span>
  <div class="info-detail">
    <p class="info-detail__title">My rating</p>
    <div class="info-detail__content">
      <!-- TODO: ADD START BASE ON RATING DATA-->
      <i [inlineSVG]="'assets/svg/star.svg'"></i>
      <i [inlineSVG]="'assets/svg/star.svg'"></i>
      <i [inlineSVG]="'assets/svg/star.svg'"></i>
      <i [inlineSVG]="'assets/svg/star.svg'"></i>
      <i [inlineSVG]="'assets/svg/star.svg'"></i>
      <span class="value">8.8</span>
    </div>
  </div>
  <div class="info-detail">
    <p class="info-detail__title">Balance</p>
    <div class="info-detail__content">
      <span class="info-bar--balance"></span>
      <span class="value">$500K</span>
    </div>
  </div>
  <div class="info-detail">
    <p class="info-detail__title">Diet</p>
    <div class="info-detail__content">
      <span class="info-bar--diet"></span>
      <span class="value">20 days</span>
    </div>
  </div>
</div>
