/* You can add global styles to this file, and also import other style files */
@import '~normalize.css',
'variables',
'forms',
'typo';


hr {
  color: $color-grey;
  margin: 1.75rem 0 2rem 0;
}

.info-hr {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-left: 0.9em;
  margin: 3rem 0;
  color: $color-grey;
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-100%);
    right: -105%;
    width: 100%;
    height: 1px;
    background-color: $color-grey;
  }
}
